

<ul>
  {{#each cats}}
    {{#unless sleepy}}
     
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers That have been eatededed</h2>

<ul>
  {{#each cats}}
    {{#if sleepy}}
      {{> cats/cat-block sleep=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Type of burger:</label>
    <input type="text" id="ca" name="name">
  </div>



  <button type="submit">Add Burger</button>
</form>
